<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incubator Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-4">Incubator Dashboard</h1>
        <p class="lead">The dashboard gives an overview of activity of incubating projects on incubator.wikimedia.org.</p>
        <form method="POST" id="dashboard-form">
            <div class="form-group">
                <label for="param">Parameter</label>
                <select id="param" name="param" class="form-control">
                    {% for param in params %}
                        <option value="{{ param }}" {% if param == selected_param %}selected{% endif %}>{{ param }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="slider">Range</label>
                <div class="d-flex">
                    <input type="number" id="slider_min" name="slider_min" class="form-control mr-2" value="{{ slider_values[0] }}">
                    <input type="number" id="slider_max" name="slider_max" class="form-control" value="{{ slider_values[1] }}">
                </div>
            </div>
            <div class="form-group">
                <label for="project-dropdown">Project</label>
                <select id="project-dropdown" class="form-control">
                    <option value="">Select Project</option>
                    {% for wiki in wikis %}
                        <option value="{{ wiki }}">{{ wiki }}</option>
                    {% endfor %}
                </select>
                <div id="tags-container" class="mt-2"></div>
                <input type="hidden" id="hidden-tags-input" name="hidden_tags" value="{{ selected_wikis | join(',') }}">
            </div>
        </form>
        <div class="mt-3">
            {{ graph_html|safe }}
        </div>
        <p class="mt-4">The dashboard is updated weekly and was last updated on {{ latest_update }}</p>
        <a href="https://github.com/kcvelaga/IncubatorDashboard" class="btn btn-secondary">Source Code</a>
    </div>
    <br>
</body>
</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>

<script>
    const form = document.getElementById('dashboard-form');

    document.getElementById('param').addEventListener('change', () => {
        form.submit();
    });

    document.getElementById('slider_min').addEventListener('change', () => {
        form.submit();
    });

    document.getElementById('slider_max').addEventListener('change', () => {
        form.submit();
    });

    const projectDropdown = document.getElementById('project-dropdown');
    const tagsContainer = document.getElementById('tags-container');
    const hiddenInput = document.getElementById('hidden-tags-input');

    projectDropdown.addEventListener('change', () => {
        const selectedTag = projectDropdown.value;
        if (selectedTag && !tagsContainer.querySelector(`[data-tag="${selectedTag}"]`)) {
            addTag(selectedTag);
        }
        projectDropdown.value = '';
        form.submit();
    });

    tagsContainer.addEventListener('click', event => {
        if (event.target.classList.contains('tag-close')) {
            const tagToRemove = event.target.getAttribute('data-tag');
            const tagElement = event.target.parentElement;
            tagsContainer.removeChild(tagElement);
            populateHiddenInput();
            form.submit();
        }
    });

    function addTag(tagText) {
        const tagElement = document.createElement('div');
        tagElement.className = 'tag';
        tagElement.setAttribute('data-tag', tagText);
        tagElement.innerHTML = `
            <span class="tag-text">${tagText}</span>
            <span class="tag-close" data-tag="${tagText}">x</span>
        `;
        tagsContainer.appendChild(tagElement);
        populateHiddenInput();
    }

    function populateHiddenInput() {
        const tags = [];
        tagsContainer.querySelectorAll('.tag-text').forEach(tag => {
            tags.push(tag.textContent.trim());
        });
        hiddenInput.value = tags.join(',');
    }

    function populateTagsContainer() {
        const selectedTags = hiddenInput.value.split(',');
        selectedTags.forEach(tag => {
            if (tag.trim() !== '') {
                addTag(tag.trim());
            }
        });
    }

    // Populate tags container on page load
    document.addEventListener('DOMContentLoaded', function() {
        populateTagsContainer();
    });
</script>
